# Ignore todos os arquivos de texto
*.txt
# Ignore arquivos relacionados às chaves de API
*.env
# Ignore pasta de rar 
*.rar
# Ignore arquivo de banco dos dados
*.bd
# Ignore ZIP
*.zip
# Ignore bkp
*.bkp

